<!DOCTYPE html>
<html>
<head>
    <title>Docker - Demo Micro Service</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="docker example.">
    <meta name="author" content="@ox1d0">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script type="text/javascript">
      function init ( )
      {
	  timeDisplay = document.createTextNode ( "" );
	  document.getElementById("clock").appendChild ( timeDisplay );
      }

      function updateVisit ()
      {
	  visitDisplay = document.createTextNode ( "" );
	  document.getElementById("visits").appendChild(visitDisplay);

	  var counter = Cookies.get('counter');
	  if (counter==null){
	      console.log(counter);
	      counter = 1;
	  }else{
	      counter = Number(counter) + 1;
	  }
	  Cookies.set('counter', counter);
	  document.getElementById("visits").firstChild.nodeValue = counter;
      }

      function updateClock ()
      {
	  var currentTime = new Date ( );

	  var currentHours = currentTime.getHours ( );
	  var currentMinutes = currentTime.getMinutes ( );
	  var currentSeconds = currentTime.getSeconds ( );

	  // Pad the minutes and seconds with leading zeros, if required
	  currentMinutes = ( currentMinutes < 10 ? "0" : "" ) + currentMinutes;
	  currentSeconds = ( currentSeconds < 10 ? "0" : "" ) + currentSeconds;

	  // Choose either "AM" or "PM" as appropriate
	  var timeOfDay = ( currentHours < 12 ) ? "AM" : "PM";

	  // Convert the hours component to 12-hour format if needed
	  currentHours = ( currentHours > 12 ) ? currentHours - 12 : currentHours;

	  // Convert an hours component of "0" to "12"
	  currentHours = ( currentHours == 0 ) ? 12 : currentHours;

	  // Compose the string for display
	  var currentTimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds + " " + timeOfDay;

	  // Update the time display
	  document.getElementById("clock").firstChild.nodeValue = currentTimeString;
      }
    </script> <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="docker example.">
    <meta name="author" content="@ox1d0">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>

<body  onload="updateVisit(); updateClock(); setInterval('updateClock()', 1000 )">

  <!-- Fixed navbar -->
  <div>
{% include "includes/nav.html" %}
</div>
  <!--/.nav-collapse -->
  </nav>

  <div class="container theme-showcase" role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>Hello</h1>
      <p>Is This Just A Demo!! XD</p>
    </div>
    <hr/>
  </div>
</div> <!-- /container -->


 <!-- /Here Needs To  Run Pandas01 -->
<div>
{% include "includes/footer.html" %}
</div>
</body>
</html>
